<!DOCTYPE html>
<html>
  <head>
    <title>Server Status</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <%= css_assets 'base' %>
  </head>
  <body>
    <div id="server_status" class="white-readable invisible">
      <h2>Canvas is running, the branch is: <span id="canvas_state" class="center"><%= branch %></span><%= plugin_info if plugin_info != nil %></h2>
      <% if patchset != nil %>
        <%= "<div class='center pad-bottom popup-link'><a href='https://gerrit.instructure.com/#/c/#{patchset.split('/')[1]}' target='blank'>#{patchset}</a></div>" %>
      <% end %>
      <% if patchsets != nil %>
        <% for patchset in patchsets %>
          <%= "<div class='center pad-bottom popup-link'><a href='https://gerrit.instructure.com/#/c/#{patchset.split('/')[1]}' target='blank'>#{patchset}</a></div>" %>
        <% end %>
      <% end %>
      <div class="button-holder">
        <button type="button" id="canvas" class="btn">Go to Canvas</button>
        <button type="button" id="portal" class="btn">Go to the Portal</button>
      </div>
    </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="javascripts/bpopup.min.js" type="text/javascript"></script>
  <script src="javascripts/server-status.min.js" type="text/javascript"></script>
  </body>
</html>
